body{
    background-color: lightblue;
}

h1.fuente1{
    padding: 10px 10px;
    background-color: lightsalmon;
    border: 5px solid;
    font-family: 'Zhi Mang Xing', cursive;
    color: rgb(238, 75, 75);
}

span.p{
    margin: 0px;
    border: 1px solid;
    background-color: lightyellow;
    color: brown;
}

hr{
height: 40px;
width: 30%;
background-color: blue;
border-color: red;
      
}

section.fuente2{
    background-color: rgb(110, 218, 96);
    
}

section.fuente3{
    background-color: blanchedalmond;
}

span.p1{
    color:red;
}

table.tabla1{
    background-color: goldenrod;
    border-spacing: 50px;
    border: #b2b2b2 10px groove;
}

td{

}

section.color3{
    background-color: chocolate;
    color: yellow;
    border-color: blue red yellow red;
    border-width: 10px 40px 20px;
    border-style: dotted solid dashed dashed

}

p.move{
    margin-left: 800px;
}

table.footer{
    width: 145%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightcoral;
}

